.navbar{
    background-color:black;
    color:rgb(255, 0, 0);
    border-radius: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.Logo{
    color: red;
    font-size: 100px;
    font-weight: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-link li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: medium;
    border-radius: 10%;
}
.nav-link li a:hover{
    background-color:#6d0f0f;
    color: rgb(255, 0, 0);
    text-decoration: underline;
    padding: 4px 4px;

}
.jumbotron{
    background-color:black;
    color: #ff0000;
    box-shadow: 0 6px 30px #ff0000;
    height: 40vh;
    padding: 6px;
    text-align: center;
}
.jumbotron h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 50PX;
    font-style: normal;
    margin-bottom:30px;
}
.jumbotron p {
    font-size: 20px;
}
.jumbotron button{
    background-color:green;
    color:white;
    border: none;
    padding: 10px  14px;
    border-radius: 15px;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.bagian-baru{
    padding: 40px;
    background: rgb(0, 0, 0);
    color: red;
}
.bagian-baru{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
.new-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    align-items: start;
}
.cacrd-img {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.cacrd-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.card{
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: black;
    border-radius: 9px;
    box-shadow: 0 6px 18px red;
    height: 100%;
}
.card-hover{
    transform: translateY(-7px);
}

.footer{
    background: linear-gradient(to bottom, black, red);
    color: white;
    padding: 30px 20px 15px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.footer-section h3{
    margin-bottom: 10px;
    color: aliceblue;
}
.footer-section p
.footer-section li{
    margin: 5px 0;
    font-size: 16px;
    color: #ccc;
}
.footer-section ul{
    list-style: none;
    padding: 0;
}
.footer-section a{
    text-decoration: none;
    color: goldenrod;
}
.footer-section a:hover{
    color: white;
}
.footer-bottom{
    color: #ccc;

}
